//hero
.hero{
    position: relative;
    background-image: url(../../public/img/imagesSIte/banniere-running.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
    @media screen and (max-width:768px){
        display: none;
    }
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
}
.hero-content p{
    font-size: 1.375rem;
}